@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind(opens in a new tab) 是一个 CSS 框架，通过允许您在 TSX 标记中直接快速编写实用类(opens in a new tab)，加速开发过程。 */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
